/*  https://github.com/Alexays/Waybar/wiki/Styling 
    Supported properties: https://docs.gtk.org/gtk3/css-properties.html
*/

window#waybar {
    background: #abb2bf;
    background: #2c313c;
    background: #5c6370;
    background: #61afef;
    background: #98c379;
    background: #e5c07b;
    background: #e06c75;
    background: transparent;
    color: #ffffff;
}

.modules-left,
.modules-center,
.modules-right {
    background: transparent;
}

* {
    font-family: "SF Pro Display", "FontAwesome";
    font-size: 13px;

    min-height: 0;
    margin: 0;
    padding: 0;
}

.module {
    background: #2c313c;
    border: 1px solid #5c6370;

    border-radius: 100px;
    padding: 4px 8px;
}

.module button:hover {
    box-shadow: inset 0 -3px #ffffff;
}

#pulseaudio {
    color: #61afef;
    margin: 6px 3px;
}

#battery.critical {
    color: #e06c75;
}

#battery.warning {
    color: #e5c07b;
}
