/*  https://github.com/Alexays/Waybar/wiki/Styling 
    Supported properties: https://docs.gtk.org/gtk3/css-properties.html
*/

window#waybar {
    background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
    background: #323232;
    border: 1px solid #212121;
    border-radius: 8px;
}

* {
    font-family: "JetBrainsMono Nerd Font";
    color: #ffffff;
    font-weight: semi-bold;
}
