/*  https://github.com/Alexays/Waybar/wiki/Styling 
    Supported properties: https://docs.gtk.org/gtk3/css-properties.html
*/

window#waybar {
    background: transparent;
    padding: 0 10px;

    margin: 4px;
}

.modules-left,
.modules-center,
.modules-right {
    background: #212121;
    border-radius: 8px;
}

* {
    font-family: "JetBrainsMono Nerd Font";
    color: #ffffff;
    font-weight: 600;
    margin: 0;

    font-size: 1rem;
}
