# Hardware configuration (machine-specific)
hosts/*/hardware-configuration.nix

__pycache__/

# Non-free assets
modules/fancy-boot/darwin/logo.png

.direnv/

# nix-build output symlinks
/result
/result-*

modules/sddm-theme/theme/icons/
home/modules/quickshell/config/dynamic-island/icons/
