* {
    all: unset;
}

.bar {
    font-size: 16px;
    line-height: 1;

    margin: 12px;
}

.bordered {
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px black;
    background-color: #eceff4;
    color: #2e3440;
}

.bordered:hover {
    background-color: #d8dee9;
}

label {
    font-weight: bold;
}

.clock-button > .toggle {
    padding: 4px 8px;
}

.year-calendar {
    padding: 12px;

    .other-month {
        opacity: 0;
    }

    .week-number {
        color: #179299;
    }

    .today {
        color: #d20f39;
    }

    .day-name {
        color: #df8e1d;
    }

    .month-grid {
    }

    .month-heading {
    }

    .day {
        min-width: 20px;
        text-align: center;
    }
}
