.bar {
    font-size: 16px;

    margin: 12px;
}

.bordered {
    border: 3px solid black;
    border-radius: 12px;
    box-shadow: 4px 4px black;
    background-color: #eceff4;
    color: #2e3440;
}

.bordered:hover {
    background-color: #d8dee9;
}
