# Format reference for secrets/attic.yaml, the encrypted file attic-push reads.
# This template is read by nothing.
#
# Edit the existing secret:  sops secrets/attic.yaml
# Create it from scratch:    cp secrets/attic.yaml.template secrets/attic.yaml
#                            sops -e -i secrets/attic.yaml
#                            sops secrets/attic.yaml   (paste the real token)
#
# The token is a push JWT minted by atticd:
#   atticadm make-token --sub laptop --validity '10y' --push system --pull system

attic-token: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.PLACEHOLDER_PAYLOAD.PLACEHOLDER_SIGNATURE
